<h1>Search Artist:</h1>
<form action="/search_result" method="post">
  <label for="artist-name">Name of Artist</label>
  <input type="text" name="artist-name" id="artist-name">
  <button type="submit">Submit</button>
</form>

<h1>Or Add a New Artist</h1>
<form action="/artist_add_form" method="post">
  <label for="new-artist-name">Enter the name:</label>
  <input type="text" name="new-artist-name" id="new-artist-name">
  <button type="submit">Submit</button>
</form>
