<h1>Artist Not Found</h1>
<h1>Search Another Artist:</h1>
<form action="/search_result" method="post">
  <label for="artist-name">Name of Artist</label>
  <input type="text" name="artist-name" id="artist-name">
  <button type="submit">Submit</button>
</form>
